body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1.5px solid;
	padding: 1rem;
	gap: 0.5rem;
}

.input-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.25rem 0;
	width: 100%;
	max-width: 375px;
}

.input-row label {
	flex: 1;
	text-align: left;
}

.input-row input {
	flex: 1;
	text-align: right;
}
